body{
font-family:Arial;
background:white;
padding:30px;
transition:0.3s;
}

.container{
max-width:1100px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.15);
}

h1,h2{
text-align:center;
}

.theme-btn{
text-align:center;
margin-bottom:25px;
}

label{
display:flex;
flex-direction:column;
font-weight:bold;
color:#1F7F82;
}

form{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
margin-bottom:20px;
}

input,select{
padding:10px;
border-radius:6px;
border:1px solid #1F7F82;
}

.fullbtn{
width:100%;
padding:14px;
background:#1F7F82;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
color:white;
margin-top:10px;
}

.fullbtn:hover{
background:#167A7F;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#1F7F82;
color:white;
padding:12px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #ddd;
}

/* RESULTADO COLORES SOLO TEXTO */

.win{
color:#2ecc71;
font-weight:bold;
}

.loss{
color:#e74c3c;
font-weight:bold;
}

.be{
color:#f1c40f;
font-weight:bold;
}

/* BOTONES ACCION */

.action-btn{
padding:6px 10px;
border:none;
border-radius:5px;
cursor:pointer;
margin:2px;
font-size:13px;
}

.edit-btn{
background:#3498db;
color:white;
}

.delete-btn{
background:#e74c3c;
color:white;
}

/* DARK MODE */

.dark-mode{
background:#111;
color:white;
}

.dark-mode .container{
background:#1b1b1b;
}

.dark-mode td{
border-color:#333;
}
